* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'rsu';
    src: url("../font/RSU_light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: 'rsu';
    src: url("../font/RSU_Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'rsu';
    src: url("../font/RSU_BOLD.ttf");
    font-weight: 700;
}

body {
    font-family: "rsu";
    background-color: rgb(39, 39, 39);
    min-height: 100vh;
}

.a {
    text-decoration: none;
    color: inherit;
}

.a:hover {
    opacity: 0.7;
    cursor: pointer;
}

.bottom {
    color: rgb(212, 175, 55);
    font-size: 40px;
    font-weight: 700;
    width: 27%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.down {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.dow {
    display: flex;
    flex-direction: row;
}

.size {
    font-size: 30px;
    color: rgb(39, 39, 39);
    margin-left: 25px;
    margin-right: 25px;
}

#top {
    width: 65%;
    aspect-ratio: 3/1;
    margin: 0 auto;
    margin-bottom: 60px;
}

#img {
    width: 100%;
    margin: 0 auto;
}

#type {
    text-align: center;
    color: rgb(212, 175, 55);
    font-weight: 700;
    font-size: 75px;
    margin-bottom: 30px;
}

#bottom {
    margin-bottom: 500px;
}

#down {
    background-color: rgb(212, 175, 55);
    height: 300px;
    display: flex;
    flex-direction: column;
}